<html>
<head></head>
<body>

  <h1>Add New List</h1>

  <div>
    <a href="/shoppinglists">View All Lists</a>
    <a href="/shoppinglists/new">Add New List</a>
  </div>

  <form action="/add-list" method="POST">
      <input type="text" name = "listname" placeholder="Enter Name" />
      <input type="text" name = "street" placeholder="Enter Street" />
       <input type="text" name = "city" placeholder="Enter City" />
        <input type="text" name = "state" placeholder="Enter State" />
      <input type="submit" value="Submit" />
  </form>


</body>
</html>